@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}


.container-personalizado {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rgba(243, 202, 202, 0.477); */
    height: 100vh;
}

.form-login {
    width: 90%;
    padding: 50px;
    min-width: 300px;
    max-width: 960px;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
}

.form-login .linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.form-login .linha label {
    margin-bottom: 20px;
    font-family: "Roboto-light";
    font-size: 1.2rem;
    text-transform: uppercase;
}

.form-login .linha input {
    font-family: "Roboto-light";
    border-radius: 10px;
    padding: 10px;
    height: 40px;
}

.form-login .btn-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-login .btn-actions button {
    width: 48%;
    margin-top: 20px;
}